* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent !important;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden !important;
}

body {
  height: 2000px;
  margin: 0;
  font-family: "Cairo", sans-serif;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #e26c08;
  border-radius: 10px;
}

::selection {
  color: #fff;
  background: #010061;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@keyframes top-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1.3rem);
    transform: translateY(-1.3rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.fz-1 {
  font-size: 1.22rem;
}

.fz-2 {
  font-size: 2.44rem;
}

.fz-3 {
  font-size: 3.66rem;
}

.fz-4 {
  font-size: 4.88rem;
}

.fz-5 {
  font-size: 6.1rem;
}

.fz-6 {
  font-size: 7.32rem;
}

/* cairo-200 - latin */
@font-face {
  font-family: "Cairo", sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url("../fonts/cairo-v22-latin-200.eot"); /* IE9 Compat Modes */
  src: url("../fonts/cairo-v22-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/cairo-v22-latin-200.woff2") format("woff2"), url("../fonts/cairo-v22-latin-200.woff") format("woff"), url("../fonts/cairo-v22-latin-200.ttf") format("truetype"), url("../fonts/cairo-v22-latin-200.svg#Cairo") format("svg"); /* Legacy iOS */
}
/* cairo-300 - latin */
@font-face {
  font-family: "Cairo", sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/cairo-v22-latin-300.eot"); /* IE9 Compat Modes */
  src: url("../fonts/cairo-v22-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/cairo-v22-latin-300.woff2") format("woff2"), url("../fonts/cairo-v22-latin-300.woff") format("woff"), url("../fonts/cairo-v22-latin-300.ttf") format("truetype"), url("../fonts/cairo-v22-latin-300.svg#Cairo") format("svg"); /* Legacy iOS */
}
/* cairo-regular - latin */
@font-face {
  font-family: "Cairo", sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/cairo-v22-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/cairo-v22-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/cairo-v22-latin-regular.woff2") format("woff2"), url("../fonts/cairo-v22-latin-regular.woff") format("woff"), url("../fonts/cairo-v22-latin-regular.ttf") format("truetype"), url("../fonts/cairo-v22-latin-regular.svg#Cairo") format("svg"); /* Legacy iOS */
}
/* cairo-500 - latin */
@font-face {
  font-family: "Cairo", sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/cairo-v22-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/cairo-v22-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/cairo-v22-latin-500.woff2") format("woff2"), url("../fonts/cairo-v22-latin-500.woff") format("woff"), url("../fonts/cairo-v22-latin-500.ttf") format("truetype"), url("../fonts/cairo-v22-latin-500.svg#Cairo") format("svg"); /* Legacy iOS */
}
/* cairo-600 - latin */
@font-face {
  font-family: "Cairo", sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/cairo-v22-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/cairo-v22-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/cairo-v22-latin-600.woff2") format("woff2"), url("../fonts/cairo-v22-latin-600.woff") format("woff"), url("../fonts/cairo-v22-latin-600.ttf") format("truetype"), url("../fonts/cairo-v22-latin-600.svg#Cairo") format("svg"); /* Legacy iOS */
}
/* cairo-700 - latin */
@font-face {
  font-family: "Cairo", sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/cairo-v22-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/cairo-v22-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/cairo-v22-latin-700.woff2") format("woff2"), url("../fonts/cairo-v22-latin-700.woff") format("woff"), url("../fonts/cairo-v22-latin-700.ttf") format("truetype"), url("../fonts/cairo-v22-latin-700.svg#Cairo") format("svg"); /* Legacy iOS */
}
/* cairo-800 - latin */
@font-face {
  font-family: "Cairo", sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("../fonts/cairo-v22-latin-800.eot"); /* IE9 Compat Modes */
  src: url("../fonts/cairo-v22-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/cairo-v22-latin-800.woff2") format("woff2"), url("../fonts/cairo-v22-latin-800.woff") format("woff"), url("../fonts/cairo-v22-latin-800.ttf") format("truetype"), url("../fonts/cairo-v22-latin-800.svg#Cairo") format("svg"); /* Legacy iOS */
}
/* cairo-900 - latin */
@font-face {
  font-family: "Cairo", sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("../fonts/cairo-v22-latin-900.eot"); /* IE9 Compat Modes */
  src: url("../fonts/cairo-v22-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/cairo-v22-latin-900.woff2") format("woff2"), url("../fonts/cairo-v22-latin-900.woff") format("woff"), url("../fonts/cairo-v22-latin-900.ttf") format("truetype"), url("../fonts/cairo-v22-latin-900.svg#Cairo") format("svg"); /* Legacy iOS */
}
ul {
  list-style-type: none;
}

section {
  width: 100%;
  padding: 15rem 0;
}

a {
  text-decoration: none;
}
a:active, a:focus {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container {
  margin-inline: auto;
  padding-inline: 2.4rem;
}
@media (min-width: 768px) {
  .container {
    width: 75rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 97rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 117rem;
  }
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  -webkit-transition: background-color 0.5s ease-out 0s;
  -moz-transition: background-color 0.5s ease-out 0s;
  -ms-transition: background-color 0.5s ease-out 0s;
  -o-transition: background-color 0.5s ease-out 0s;
  transition: background-color 0.5s ease-out 0s;
}
.navbar.sticky-scroll {
  background-color: white;
  box-shadow: 0 1rem 4rem 0 rgba(104, 104, 104, 0.3019607843);
}
.navbar.sticky-scroll ul li a {
  color: #414648;
}
.navbar__content {
  width: 100%;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.navbar__content__logo {
  --logo-border-radius: 7rem;
  width: 10.5rem;
  min-height: 8rem;
  height: 11rem;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  border-bottom-left-radius: var(--logo-border-radius);
  border-bottom-right-radius: var(--logo-border-radius);
  background-color: #fff;
}
@media (max-width: 768px) {
  .navbar__content__logo {
    width: 10rem;
    height: 10rem;
  }
}
.navbar__content__logo picture source,
.navbar__content__logo picture img {
  width: 65%;
  display: block;
  margin-inline: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 768px) {
  .navbar__content__logo picture source,
  .navbar__content__logo picture img {
    width: 60%;
  }
}
.navbar__content__list {
  width: 100%;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .navbar__content__list {
    width: 44rem;
    height: 100vh;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: -140%;
    top: 0;
    background-color: white;
    border-right: 0.1rem solid #a6acaf;
    z-index: 99999;
    -webkit-transition: left 0.44s ease-in-out 0s;
    -moz-transition: left 0.44s ease-in-out 0s;
    -ms-transition: left 0.44s ease-in-out 0s;
    -o-transition: left 0.44s ease-in-out 0s;
    transition: left 0.44s ease-in-out 0s;
  }
  .navbar__content__list.active {
    left: 0;
  }
}
@media only screen and (max-width: 576px) {
  .navbar__content__list {
    width: 100vw;
  }
}
.navbar__content__list-item {
  margin-inline: 3rem;
}
@media only screen and (max-width: 992px) {
  .navbar__content__list-item {
    text-align: center;
    margin-inline: auto;
    margin-block: 1rem;
  }
}
.navbar__content__list-item__link {
  position: relative;
  display: block;
  padding-block: 1rem;
  font-size: 1.7rem;
  color: white;
}
@media only screen and (max-width: 992px) {
  .navbar__content__list-item__link {
    color: #414648;
  }
}
.navbar__content__list-item__link::before {
  content: "";
  width: 100%;
  height: 0.3rem;
  position: absolute;
  right: 0;
  bottom: -0.3rem;
  background-color: #e26c08;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility;
  -moz-transition: visibility;
  -ms-transition: visibility;
  -o-transition: visibility;
  transition: visibility;
  -webkit-transition: opacity;
  -moz-transition: opacity;
  -ms-transition: opacity;
  -o-transition: opacity;
  transition: opacity;
  transition: visibility 0.34s ease-in, opacity 0.34s ease-in;
}
.navbar__content__list-item__link:hover {
  color: #e26c08;
  -webkit-transition: color 0.34s ease-in 0s;
  -moz-transition: color 0.34s ease-in 0s;
  -ms-transition: color 0.34s ease-in 0s;
  -o-transition: color 0.34s ease-in 0s;
  transition: color 0.34s ease-in 0s;
}
.navbar__content__list-item__link:hover::before {
  visibility: visible;
  opacity: 1;
}
.navbar__content__list-item__link:active {
  color: #e26c08;
}

.toggler {
  width: 4.2rem;
  height: 2.2rem;
  position: relative;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  display: none;
  z-index: 999999;
}
@media only screen and (max-width: 992px) {
  .toggler {
    display: flex;
  }
}
.toggler span {
  width: 100%;
  border-radius: 2rem;
  height: 0.3rem;
  display: block;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.toggler span.active {
  background-color: #414648;
}
.toggler span[class^=toggle-] {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.toggler span.toggle-rotation-clockwise {
  transform: rotate(-45deg) translate(-0.4rem, 0.9rem);
  background-color: #414648;
}
.toggler span.toggle-rotation-not-clockwise {
  transform: rotate(45deg) translate(-0.5rem, -0.9rem);
  background-color: #414648;
}
.toggler span.toggle-fade {
  transform: translateX(-2rem);
  background-color: #414648;
  visibility: hidden;
  opacity: 0;
}

.landing {
  width: 100vw;
  height: 100vh;
  padding-block: 24rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  background-image: url("../assets/images/landing-image.jpg");
}
.landing .container {
  position: relative;
  z-index: 99999;
}
.landing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}
.landing__content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  justify-items: start;
  color: white;
}
@media only screen and (max-width: 992px) {
  .landing__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.landing__content__text {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .landing__content__text {
    margin-inline: auto;
    text-align: center;
  }
}
.landing__content__text p:not(:nth-child(1)) {
  margin-block: 1.8rem;
}
.landing__content__text p:nth-child(2) {
  color: #e26c08;
}
.landing__content__layer {
  width: 50rem;
  position: absolute;
  left: -9rem;
  z-index: 999;
  -webkit-animation: top-bottom 3s infinite;
  animation: top-bottom 3s infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
@media only screen and (max-width: 992px) {
  .landing__content__layer {
    display: none;
  }
}
.landing__content__layer img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.landing__wave {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -3rem;
  z-index: 9999;
}
.landing__wave img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-btn {
  min-width: 14rem;
  width: 23rem;
  padding: 1.4rem;
  margin-top: 3rem;
  border-radius: 1rem;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  background-color: #010061;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  -webkit-transition: background-color 0.35s ease-in 0s;
  -moz-transition: background-color 0.35s ease-in 0s;
  -ms-transition: background-color 0.35s ease-in 0s;
  -o-transition: background-color 0.35s ease-in 0s;
  transition: background-color 0.35s ease-in 0s;
}
@media only screen and (max-width: 992px) {
  .main-btn {
    margin-inline: auto;
  }
}
.main-btn:hover {
  background-color: #002060;
}
.main-btn:focus, .main-btn:active {
  background-color: #010061;
}

.message {
  width: 100%;
  margin-top: 5rem;
}
.message__content {
  width: 100%;
}
.message__content__header {
  width: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem 6rem;
}
@media only screen and (max-width: 992px) {
  .message__content__header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 6rem;
  }
}
@media only screen and (max-width: 576px) {
  .message__content__header {
    gap: 22rem 6rem;
  }
}
.message__content__header__card {
  width: 100%;
  height: 15rem;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  align-items: start;
  gap: 3rem;
}
@media only screen and (max-width: 576px) {
  .message__content__header__card {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    gap: 6rem;
  }
}
@media only screen and (max-width: 576px) {
  .message__content__header__card {
    text-align: center;
  }
}
.message__content__header__card-img {
  position: relative;
  -webkit-margin-end: 2.4rem;
  margin-inline-end: 2.4rem;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
@media (max-width: 116rem) {
  .message__content__header__card-img {
    width: 13rem;
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .message__content__header__card-img {
    -webkit-margin-start: 3.4rem;
    margin-inline-start: 3.4rem;
  }
}
@media (max-width: 83rem) {
  .message__content__header__card-img {
    -webkit-margin-start: 3rem;
    margin-inline-start: 3rem;
  }
}
@media only screen and (max-width: 576px) {
  .message__content__header__card-img {
    width: 8rem;
    margin-bottom: 1.4rem;
  }
}
.message__content__header__card-img .blob-svg {
  width: 100%;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  transform: scale(3.2);
}
@media only screen and (max-width: 992px) {
  .message__content__header__card-img .blob-svg {
    transform: scale(2.1);
  }
}
@media only screen and (max-width: 576px) {
  .message__content__header__card-img .blob-svg {
    transform: scale(3.5);
  }
}
.message__content__header__card-img .goal-pic {
  width: 5rem;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.message__content__header__card-info {
  align-self: flex-start;
}
.message__content__header__card-info__title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.message__content__header__card-info__desc {
  font-size: 1.8rem;
}
.message__content__footer {
  width: 100%;
  padding-top: 13rem;
}
.message__content__footer__title {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
}
.message__content__footer__title a {
  text-decoration: underline;
}
.message__content__footer__layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 10rem;
}
@media only screen and (max-width: 992px) {
  .message__content__footer__layout {
    margin-inline: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.message__content__footer__layout__first__desc {
  width: 85%;
  margin-top: 5rem;
  line-height: 1.7;
  font-size: 1.44rem;
  font-weight: 500;
  color: #010061;
}
@media only screen and (max-width: 992px) {
  .message__content__footer__layout__first__desc {
    width: 100%;
    text-align: center;
  }
}
.message__content__footer__layout__second {
  width: 100%;
  display: grid;
  place-items: center;
}
.message__content__footer__layout__second img {
  width: 86%;
  object-fit: cover;
}
@media only screen and (max-width: 992px) {
  .message__content__footer__layout__second img {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .message__content__footer__layout__second img {
    width: 80%;
  }
}

.first-title {
  color: #e26c08;
  font-size: 2.2rem;
  font-weight: 600;
}

.second-title {
  position: relative;
  margin-block: 1.4rem;
  color: #010061;
  font-size: 2.7rem;
  font-weight: 600;
}
.second-title::after {
  content: "";
  width: 25%;
  height: 0.23rem;
  border-radius: 1.2rem;
  position: absolute;
  bottom: -2.4rem;
  right: 0;
  background-color: #010061;
}
@media only screen and (max-width: 992px) {
  .second-title::after {
    width: 20%;
    right: 40%;
    bottom: -3rem;
  }
}

.go-to-top {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  position: fixed;
  bottom: 4rem;
  left: 2rem;
  font-size: 1.5rem;
  background-color: #596063;
  color: white;
  cursor: pointer;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.go-to-top.shown {
  visibility: visible;
  opacity: 1;
  left: 4rem;
}

@font-face {
  font-family: "fontello";
  src: url("../assets/fontello/fontello.eot?96612797");
  src: url("../assets/fontello/fontello.eot?96612797#iefix") format("embedded-opentype"), url("../assets/fontello/fontello.woff2?96612797") format("woff2"), url("../assets/fontello/fontello.woff?96612797") format("woff"), url("../assets/fontello/fontello.ttf?96612797") format("truetype"), url("../assets/fontello/fontello.svg?96612797#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-],
[class*=" icon-"] {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open:before {
  content: "\e800";
}
